<h1>Welcome to my photo site</h1>
<% @photos.each do |photo|  %>
  <div>
    <h3><a href="/photos/<%= photo[:id]%>"><%= photo[:title] %></a></h3>
    <img src="<%= photo[:image] %>" alt="Image not found">
  </div>
<% end %>
